[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
yamllint = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.9"
