[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
apispec = {extras = ["yaml"], version = "*"}
apispec-webframeworks = "*"
pyyaml = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
yamllint = "*"

[requires]
python_version = "3.9"
